# API
API_ENV=development
API_PORT=4000
API_DATABASE_URL=postgresql://postgres:123456@localhost:5432/capmoo
API_ALLOWED_ORIGINS=http://localhost:3000
API_ALLOWED_HEADERS="Origin, Content-Type, Accept, Authorization"

# WEB
WEB_BASE_URL=http://localhost:3000
WEB_AWS_COGNITO_CLIENT_ID=
WEB_AWS_COGNITO_URL=
WEB_MAKE_WEBHOOK_URL=